body {
    font-family: Arial;
    background: #f2f2f2;
    color: #000;
}

.container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.dark-mode {
    background: #121212;
    color: white;
}
